@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablette {
    @media screen and (max-width: map-get($breakpoints, tablette-max)) and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin goldendegradas {
    background: linear-gradient(90deg,#462523 27%,#cb9b51 35%,#f6e27a 40%,#f6f2c0 50%,#f6e27a 60%,#cb9b51 65%,#462523 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin boxShadow {
    box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
}