@import "../../scss/utils/variables.scss";
.portraitBanner{
    rotate: 30deg;
}
.presentation{
    margin: -3rem 3rem 3rem;
    color: map-get($map:$colors , $key:couleurPrimaire );
    font-size: x-large;
    &__praticiens{
        margin-top: 3rem;
        &__content{
            margin-top: 13rem;
        }
    }
}

.approche{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    &__text{
        margin: 3rem 3rem;
        color: map-get($map:$colors , $key:couleurPrimaire );
        font-size: x-large;
        text-align: justify;
    }
}