@import "../../scss/utils/variables.scss";

.footer {
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0 1rem;
    background-color: map-get($map: $colors, $key: couleurPrimaire);
    color: white;

    &__consultations {
        h3 {
            font-weight: bolder;
        }
    }

    &__contact {
        h2 {
            font-weight: bolder;
        }
    }

    &__infos {
        &__links {
            text-decoration: none;
            color: white;
        }
    }
}