@import '../../scss/utils/variables.scss';

.bannerPicture{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    border-top: 4px solid map-get($map: $colors, $key: couleurPrimaire );
    border-bottom: 2px solid map-get($map: $colors , $key: couleurPrimaire );
    background-size: cover;
    background-position: center;

    &__container{
        margin: 10rem 0 10rem;
        padding: 2rem 5rem 2rem;
        background-color: rgba(128, 128, 128, 0.5);
        &__title{
            font-size: 5rem ;
            color: white;
        }
    }
}