* {
    // reset
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

* {
    font-family: 'Monserrat', Arial, Helvetica, sans-serif;
}

.prestage{
    font-family: 'prestage', Helvetica, Arial, sans-serif;
}

.Gras{
    font-weight: bolder;
}
