@import '/Radreams/src/scss/utils/variables.scss';

* {
    // reset
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: map-get($map:$colors , $key:couleurSecondaire );
}

* {
    font-family: 'Monserrat', Arial, Helvetica, sans-serif;
}

.prestage {
    font-family: 'Prestage', Helvetica, Arial, sans-serif;
}

.aref {
    font-family: 'Aref ruqaa', sans-serif, arial;
}

.gras {
    font-weight: bolder;
}