@import "../../scss/utils/variables.scss";

.application{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    &__text{
        margin: 3rem 3rem;
        color: map-get($map:$colors , $key:couleurPrimaire );
        font-size: x-large;
        text-align: justify;
        font-family: 'Aref ruqaa';
        ul{
            padding-left: 2em;
        }
        li{
            font-family: 'Aref ruqaa';
        }
    }
}